# Ignore Jupyter checkpoint files
.ipynb_checkpoints/

# Ignore temporary notebooks
Untitled.ipynb

# Allow Part 3 notebook
!bioinformatics_freecodecamp/CDD_ML_Part_3_Acetylcholinesterase_Exploratory_Data_Analysis.ipynb
